DATABASE_URL=postgresql://neondb_owner:npg_MuymBzK26htF@ep-square-dawn-ahg5uihv-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require

PORT=3001

NODE_ENV=production

VITE_API_BASE_URL=https://uiblocks.onrender.com

DOCKER_USERNAME=sujay1499

DOCKER_PASSWORD=Suj@y1439

EC2_HOST=

EC2_USERNAME=ubuntu

EC2_SSH_KEY=